.u-FontSize--1dot5rem {
    font-size: 1.5rem;
}

.u-Background--grey {
    background-color: $lGrey;
}

.u-MarginTop-2rem {
    margin-top: 2rem;
}

.u-Relative {
    position: relative;
}

.u-Padding--1rem {
    padding: 1rem;
}

.u-Padding--2rem {
    padding: 2rem;
}

.u-TextAlign--center {
    text-align: center;
}

.u-TextAlign--right {
    text-align: right;
}

.u-FontWeight--bold {
    font-weight:bold;
}