.c-Form {
    width:100%;
    display:inline-block; 
}

.c-Form__label {
    font-weight: 700;
    color: $QLBlue;
    line-height: 1.5;
}

.c-Form__input {
    border: 2px solid gray;
    border-radius: 5px;
}
