body {
    font-family: myriad-pro,Helvetica,Helvetica Neue,Arial,sans-serif;
}
h1,h2,h3,h4,h5{
    font-weight: 700
}
h3{
    font-size: 1.5em;
}
h5{
    font-size: 1.5em;
    font-weight: 100;
}
input[type=text], select{
    width: 100%;
    padding: 12px, 20px;
    margin: 8px, 0;
    display: inline-block;
}

.c-bannerImage-Text{
    color:white;
    font-weight: bold;
    font-size: 1.5rem;
    position: absolute;
    text-align: center;
}

// .u-cta{
//     background-color: lightseagreen;
//     position: relative;
// }

.c-form-label{
    font-weight: 700;
    color: #0c4569;
    line-height: 1.5;
}
.c-form-Input{
    border: 2px solid #aaaaaa;
    border-radius: 5px;
    max-width: 100%;
}


.u-resources-Tile{
    box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.2);
    margin: 0 .5rem;
}
.u-resources-Image{
    width: 100%;
}
.u-Background--grey{
    background-color: #DADADA;
}
.u-blockquote-Text{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;

}
.u-blockquote-Footer{
    text-align: right;
    font-weight: bold;
}

.u-customMarketing{
    background-color: lightgray;
    margin-top: 2rem;
}
.u-customMarketing-Img{
    max-width: 100%;
}
.c-button{
    background-color: #6c9f2e;
    border-width: 0;
    border-radius: 5px;
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 1rem 2rem;
    margin: 1rem;
}

.container{
    position: relative;
    text-align: center;
    color: white;
}
@media(min-width: 500px){
    .u-column{
        flex:50%;
        padding: 10px;
    }
    .u-row{
        display:flex;
    }
    .u-resources-Tile{
        max-width: 33%;
    }
}
@media(min-width: 750px){
    .u-MarginLR-20{
        margin: 0 20%;
    }
    .c-bannerImage-Text{
        color: white;
        text-align: right;
        top:30%;
        left:60%;
        transform:translate(-15%, -40%);
    }
}